html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.add-hr {
  color: black;
  border-top: 1px solid #666;
  width: 5em;
  margin: 20px auto;
}

.header {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0;
}

.left-icons > button {
  background: none;
  border: none;
  margin: 0 10px;
}

.left-icons > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.subscribe > button {
  background-color: #567b95;
  color: azure;
  padding: 10px;
  margin: 10px 0;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px;
}

.subs {
  margin-right: 1px;
}

.landing-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 30px auto;
}

.landing-contents img {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.landing-contents h1 {
  font-size: 3em;
  color: #121212;
  font-family: "Alata", sans-serif;
  font-style: italic;
  width: 80%;
  margin-bottom: 15px;
}

.img-spec {
  text-align: left;
  font-size: 15px;
  color: #666;
  line-height: 20px;
  width: 70%;
  align-self: flex-start;
  font-family: "Alata", sans-serif;
}

.second-p {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  width: 38%;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials i {
  padding: 0 5px;
}

#date {
  margin-right: auto;
}

.para {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.add {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}

.add a {
  text-decoration: none;
  color: #326891;
}

.float {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: -22em;
  margin-right: 10%;
  float: right;
  align-items: flex-end;
}

.pic {
  display: flex;
  margin-bottom: 10px;
}

.float-title {
  align-self: flex-start;
  margin-bottom: 15px;
}

.pic img {
  width: 40%;
  height: 75px;
  margin: 5px;
}

.pic a {
  text-decoration: none;
  color: black;
}

.third-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 38%;
  clear: both;
}

.inflation-section {
  width: 63%;
  margin: 20px auto 30px;
}

.inflation-section h2 {
  text-align: left;
  margin-bottom: 10px;
}

.width {
  width: 100%;
}

.inflation-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item img {
  height: 10em;
}

.grid-item p {
  color: #666;
}

.grid-item strong {
  color: black;
}

.vid-spec {
  color: #666;
  margin-top: 10px;
}

.inf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4px;
  margin: 50px auto;
  width: 63%;
  min-height: 70vh;
  background-image: url("../assets/images/photo_2020-08-17_23-54-05.jpg");
  background-repeat: no-repeat;
  background-position: top center; /* Visible 30 px from the top */
  border: 1px solid yellow;
  background-size: contain;
}

.inf p {
  /* position: absolute; */
  margin-top: 130px;
  font-size: 15px;
  color: #666;
}

#grid-p {
  width: 63%;
  margin: 20px auto 30px;
}

#grid-p span {
  border-top: 1px solid black;
  padding: 10px 0;
}

.telescope {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 47%;
}

.telescope img {
  width: 100%;
}

.img-desc {
  color: #666;
  margin-top: 10px;
}
